<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="main">
    <%- include('../partials/navigation'); %>
    <!-- --------- Directions Buttons start ---------- -->
    <!-- first button -->
    <div class="mainMenu">
      <a
        href="/projectLogDirection"
        class=""
        style="
          background-image: url('../Img/projectLog.jpeg');
          background-size: cover;
          background-position: center;
        "
      >
        <div class="mainButton">
          <h1>Project Log</h1>
        </div>
      </a>
    </div>
    <!-- second button -->
    <div class="mainMenu">
      <a
        href="./projectLogDirection.html"
        class=""
        style="
          background-image: url('../Img/chatroom.jpeg');
          background-size: cover;
          background-position: center;
        "
      >
        <div class="mainButton">
          <h1>Project Chatroom</h1>
        </div>
      </a>
    </div>

    <!-- third button -->

    <div class="mainMenu">
      <a
        href="./projectLogDirection.html"
        class=""
        style="
          background-image: url('../Img/anonymHelp.jpeg');
          background-size: cover;
          background-position: center;
        "
      >
        <div class="mainButton">
          <h1>Anonym Help</h1>
        </div>
      </a>
    </div>

    <!-- fourth button -->
    <div class="mainMenu">
      <a
        href="./projectLogDirection.html"
        class=""
        style="
          background-image: url('../Img/projectLog.jpeg');
          background-size: cover;
          background-position: center;
        "
      >
        <div class="mainButton">
          <h1>Main Button</h1>
        </div>
      </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
  </body>
</html>
