<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="main">
    <%- include('../partials/navigation'); %>
    <div class="qrButton">
      <a
        href="./qr.html"
        class=""
        style="
          background-image: url('../Img/qr.jpeg');
          background-size: cover;
          background-position: center;
        "
      >
        <div class="mainButton">
          <h1>Scan QrCode</h1>
          <h1>Manual Input</h1>
        </div>
      </a>
    </div>
    <div class="mainMenu">
      <a
        href="/projectLogMyPlants"
        class=""
        style="
          background-image: url('../Img/projectLog.jpeg');
          background-size: cover;
          background-position: center;
        "
      >
        <div class="mainButton">
          <h1>Current Logs</h1>
        </div>
      </a>
    </div>
    <div class="mainMenu">
      <a
        href="./projectLogDirection.html"
        class=""
        style="
          background-image: url('../Img/projectLog.jpeg');
          background-size: cover;
          background-position: center;
        "
      >
        <div class="mainButton">
          <h1>History</h1>
        </div>
      </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
  </body>
</html>
