<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="main">
    <%- include('../partials/navigation'); %>
    <!-- --------- Searchbar sart ---------- -->
    <div class="myPlantsForm mt-5 mb-3">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter Plant Number"
          />
        </div>
        <button type="submit" class="btn btn-success col-12 mt-4">
          <h2 class="mt-2">Search <i class="fas fa-search"></i></h2>
        </button>
      </form>
    </div>
    <!-- --------- Searchbar end ---------- -->
    <!-- --------- Plant Buttons Start --------- -->
    <div class="myPlantMenu">
      <div class="plantInfo bg-dark mt-3 mb-3">
        <div class="plantInfoText col-6">
          <h1>China</h1>
          <h1>RDU</h1>
          <h1>1000120050</h1>
        </div>
        <div class="plantButtons col-6">
          <a href="/projectLogMachines"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Project <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
          <button type="button" class="btn btn-danger btn-lg col-12">
            <h1 class="mt-2">Delete <i class="fas fa-trash-alt"></i></h1>
          </button>
        </div>
      </div>
      <div class="plantInfo bg-dark mt-3 mb-3">
        <div class="plantInfoText col-6">
          <h1>China</h1>
          <h1>RDU</h1>
          <h1>1000120050</h1>
        </div>
        <div class="plantButtons col-6">
          <a href="/projectLogMachines"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Project <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
          <button type="button" class="btn btn-danger btn-lg col-12">
            <h1 class="mt-2">Delete <i class="fas fa-trash-alt"></i></h1>
          </button>
        </div>
      </div>
      <div class="plantInfo bg-dark mt-3 mb-3">
        <div class="plantInfoText col-6">
          <h1>China</h1>
          <h1>RDU</h1>
          <h1>1000120050</h1>
        </div>
        <div class="plantButtons col-6">
          <a href="./projectLogMachines.html"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Project <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
          <button type="button" class="btn btn-danger btn-lg col-12">
            <h1 class="mt-2">Delete <i class="fas fa-trash-alt"></i></h1>
          </button>
        </div>
      </div>
      <div class="plantInfo bg-dark mt-3 mb-3">
        <div class="plantInfoText col-6">
          <h1>China</h1>
          <h1>RDU</h1>
          <h1>1000120050</h1>
        </div>
        <div class="plantButtons col-6">
          <a href="./projectLogMachines.html"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Project <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
          <button type="button" class="btn btn-danger btn-lg col-12">
            <h1 class="mt-2">Delete <i class="fas fa-trash-alt"></i></h1>
          </button>
        </div>
      </div>
    </div>
    <!-- --------- Plant Buttons Start --------- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
  </body>
</html>
