<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="main">
    <%- include('../partials/navigation'); %>
    <!-- --------- Searchbar sart ---------- -->
    <div class="myPlantsForm mt-5 mb-3">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter Plant Number"
          />
        </div>
        <button type="submit" class="btn btn-success col-12 mt-4">
          <h2 class="mt-2">Search <i class="fas fa-search"></i></h2>
        </button>
      </form>
    </div>
    <!-- --------- Searchbar end ---------- -->
    <div class="logMachinesMenu">
      <h1 class="text-white">Project 1000120050</h1>
      <div class="machineInfo bg-dark mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>VK 1</h1>
          <h1>100</h1>
        </div>
        <div class="logMachinesIssueBoard">
          <div class="closedIssues bg-primary">
            <h1 class="text-white">Closed Issues: 12</h1>
          </div>
          <div class="openIssues bg-warning">
            <h1 class="text-white">Open Issues: 12</h1>
          </div>
          <div class="urgentIssues bg-danger">
            <h1 class="text-white">Urgent Issues: 2</h1>
          </div>
        </div>
        <div class="plantButtons col-12">
          <a href="/projectLogList"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Machine <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
        </div>
      </div>
      <div class="machineInfo bg-dark mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>VK 1</h1>
          <h1>105</h1>
        </div>
        <div class="logMachinesIssueBoard">
          <div class="closedIssues bg-primary">
            <h1 class="text-white">Closed Issues: 12</h1>
          </div>
          <div class="openIssues bg-warning">
            <h1 class="text-white">Open Issues: 12</h1>
          </div>
          <div class="urgentIssues bg-danger">
            <h1 class="text-white">Urgent Issues: 2</h1>
          </div>
        </div>
        <div class="plantButtons col-12">
          <a href="./projectLogMachines.html"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Machine <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
        </div>
      </div>
      <div class="machineInfo bg-dark mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>VK 1</h1>
          <h1>115</h1>
        </div>
        <div class="logMachinesIssueBoard">
          <div class="closedIssues bg-primary">
            <h1 class="text-white">Closed Issues: 12</h1>
          </div>
          <div class="openIssues bg-warning">
            <h1 class="text-white">Open Issues: 12</h1>
          </div>
          <div class="urgentIssues bg-danger">
            <h1 class="text-white">Urgent Issues: 2</h1>
          </div>
        </div>
        <div class="plantButtons col-12">
          <a href="./projectLogMachines.html"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Machine <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
        </div>
      </div>
      <div class="machineInfo bg-dark mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>VK 1</h1>
          <h1>120</h1>
        </div>
        <div class="logMachinesIssueBoard">
          <div class="closedIssues bg-primary">
            <h1 class="text-white">Closed Issues: 12</h1>
          </div>
          <div class="openIssues bg-warning">
            <h1 class="text-white">Open Issues: 12</h1>
          </div>
          <div class="urgentIssues bg-danger">
            <h1 class="text-white">Urgent Issues: 2</h1>
          </div>
        </div>
        <div class="plantButtons col-12">
          <a href="./projectLogMachines.html"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Machine <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
        </div>
      </div>
      <div class="machineInfo bg-dark mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>VK 2</h1>
          <h1>100</h1>
        </div>
        <div class="logMachinesIssueBoard">
          <div class="closedIssues bg-primary">
            <h1 class="text-white">Closed Issues: 12</h1>
          </div>
          <div class="openIssues bg-warning">
            <h1 class="text-white">Open Issues: 12</h1>
          </div>
          <div class="urgentIssues bg-danger">
            <h1 class="text-white">Urgent Issues: 2</h1>
          </div>
        </div>
        <div class="plantButtons col-12">
          <a href="./projectLogMachines.html"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Machine <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
        </div>
      </div>
      <div class="machineInfo bg-dark mt-3 mb-3">
        <div class="machineInfoText col-6">
          <h1>VK 2</h1>
          <h1>150</h1>
        </div>
        <div class="logMachinesIssueBoard">
          <div class="closedIssues bg-primary">
            <h1 class="text-white">Closed Issues: 12</h1>
          </div>
          <div class="openIssues bg-warning">
            <h1 class="text-white">Open Issues: 12</h1>
          </div>
          <div class="urgentIssues bg-danger">
            <h1 class="text-white">Urgent Issues: 2</h1>
          </div>
        </div>
        <div class="plantButtons col-12">
          <a href="./projectLogMachines.html"
            ><button type="button" class="btn btn-success btn-lg col-12">
              <h1 class="mt-2">
                Machine <i class="fas fa-arrow-right"></i>
              </h1></button
          ></a>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
  </body>
</html>
