<div class="wrapper">
<div class="logInSvg">
  <img src="/assets/img/pia.svg" alt="" />
</div>
<div class="logInHeading">
  <h1>Smart Assembly App</h1>
</div>
<div class="LogInForm">
  <form>
    <div class="">
      <h2 class="text-center text-white">Email address</h2>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-4 mt-4">
      <h2 class="text-center text-white mb-4">Password</h2>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="d-grid col-12 mt-5">
    <a href="main">
      <button type="submit" class="btn btn-success mt-3 col-12">
        <h2 class="mt-2 mb-2"> LogIn </h2>
      </button>
      </a>
    </div>
  </form>
</div>
</div>