<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- ----- Font Awesome ----- -->
<script
  src="https://kit.fontawesome.com/1dd2006b34.js"
  crossorigin="anonymous"
></script>
<!-- Bootstrap Css -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
  integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
  crossorigin="anonymous"
/>
<!-- ----- Styles CSS ----- -->
<link rel="stylesheet" href="css/style.css" />
<title>Smart Assembly App</title>
