.example-spacer {
  flex: 1 1 auto;
}
.mat-app-background {
  overflow: hidden;
}

button {
  border: none;
  background: #212121;
  mat-icon {
    color: #fff;
  }
}

mat-toolbar {
  height: 6%;
  box-shadow: 3px 3px 10px 3px black;
}
