<!-- --------- Directions Buttons start ---------- -->
<div class="mainWrapper">
  <!-- first button -->
  <a href="ProjectLogDirection" class="">
    <div class="mainMenu">Project Log</div>
  </a>
  <!-- second button -->
  <a href="./projectLogDirection.html" class="">
    <div class="mainMenu">Project Chatroom</div>
  </a>

  <!-- third button -->
  <a href="./projectLogDirection.html" class="">
    <div class="mainMenu">Anonym Help</div>
  </a>

  <!-- fourth button -->
  <a href="./projectLogDirection.html">
    <div class="mainMenu">Attention</div>
  </a>

  <!-- fourth button -->
  <a href="./projectLogDirection.html">
    <div class="mainMenu">Teamleader</div>
  </a>
  <!-- fourth button -->
  <a href="./projectLogDirection.html">
    <div class="mainMenu">Montage</div>
  </a>

  <!-- fourth button -->
  <a href="./projectLogDirection.html">
    <div class="mainMenu">Tipps and Tricks</div>
  </a>
  <!-- fourth button -->
  <a href="./projectLogDirection.html">
    <div class="mainMenu">Stuff we have</div>
  </a>
</div>
