@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.wrapper {
  width: 95%;
  margin: auto;
}

.sortButtons {
  margin: 2rem 0 2rem 0;
  @include flex(space-around, center, row);
  .ButtonClosedIssue {
    background: #12df79;
  }
  .ButtonOpenIssue {
    background: #dfdc12;
  }
  .ButtonUrgentIssue {
    background: #df1212;
  }
  .sortButton {
    padding: 0.5rem 2rem;
  }
}

.addToDo {
  .ToDoButtonWrapper {
    width: 100%;
    @include flex(center, center, row);
  }
  .addToDoButton {
    width: 90%;
    margin-top: 1rem;
  }
}

.projectNumber {
  margin: 2rem 0 1rem 0;
  @include flex(center, center, row);
}

mat-card {
  .header {
    width: 100%;
    border-bottom: 1px solid white;
    @include flex(space-between, center, row);
  }
  .AssemblyUnit {
    // margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid white;
    @include flex(space-between, center, row);
  }
  h3 {
    margin: 0;
  }
  .ShowCommentAccordion {
    margin-top: 1rem;
  }
}
