<div class="wrapper">
  <!-- ---------- Sort Buttons Start ---------- -->
  <div class="sortButtons">
    <button mat-raised-button class="ButtonClosedIssue sortButton">
      <i class="fas fa-sort-amount-down"></i>
    </button>
    <button mat-raised-button class="ButtonOpenIssue sortButton">
      <i class="fas fa-sort-amount-down"></i>
    </button>
    <button mat-raised-button class="ButtonUrgentIssue sortButton">
      <i class="fas fa-sort-amount-down"></i>
    </button>
  </div>
  <!-- ---------- Sort Buttons End ---------- -->
  <!-- ---------- Add todo start ---------- -->
  <div class="addToDo">
    <mat-accordion>
      <mat-expansion-panel
        (closed)="panelOpenState = false"
        (opened)="panelOpenState = true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Add To Do </mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? "Tab to close" : "Tab to add" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="panelForm">
          <form>
            <select
              class="form-select mb-3"
              aria-label="Default select example"
            >
              <option selected value="1">Urgent</option>
              <option value="2">Not Urgent</option>
            </select>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Assembly Unit</label
              >
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="100-00"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >The Problem</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <div class="ToDoButtonWrapper">
              <button mat-raised-button color="accent" class="addToDoButton">
                Add ToDo
              </button>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- ---------- Add todo end ---------- -->
  <div class="projectNumber">
    <h1 class="text-white">Project 1000120050 Vk: 1 100</h1>
  </div>
  <!-- ######################################## -->
  <!-- ######################################## -->
  <!-- ######################################## -->
  <!-- ######################################## -->
  <!-- ---------- Render todos start ---------- -->
  <div class="todo">
    <mat-card>
      <div class="header">
        <h3>1</h3>
        <h3>10.04.2021</h3>
      </div>
      <div class="AssemblyUnit">
        <h3>Assembly Unit</h3>
        <h3>100-10</h3>
      </div>
      <div class="status-urgent"></div>
      <div class="problem">
        <h3>The Problem</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          minus corporis perspiciatis ea amet nostrum minima illum debitis rem
          animi explicabo libero, rerum quibusdam voluptatum.
        </p>
      </div>
      <mat-accordion>
        <mat-expansion-panel class="expansionComment" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Comment on topic </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Your Comment</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <button mat-raised-button color="accent" class="addToDoButton">
            Add Comment
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="ShowCommentAccordion">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Show Comments </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="comment">
              <h3>Daniel Matzer</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur consectetur animi aut iure quaerat cupiditate atque
                tempore officiis molestias. Libero obcaecati repellendus qui
                iste dolor, aspernatur nihil! Quos, a optio?
              </p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="interactButtons">
        <button mat-raised-button class="ButtonClosedIssue sortButton">
          <i class="fas fa-check"></i>
        </button>
        <button mat-raised-button class="ButtonOpenIssue sortButton">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button mat-raised-button class="ButtonMoveToChat sortButton">
          <i class="fas fa-comment"></i>
        </button>
      </div>
    </mat-card>
  </div>
  <!-- ######################################## -->
  <!-- ######################################## -->
  <!-- ######################################## -->
  <!-- ######################################## -->
  <!-- ---------- Render todos end ---------- -->
  <div class="todo">
    <mat-card>
      <div class="header">
        <h3>2</h3>
        <h3>16.04.2021</h3>
      </div>
      <div class="AssemblyUnit">
        <h3>Assembly Unit</h3>
        <h3>100-15</h3>
      </div>
      <div class="status-closed"></div>
      <div class="problem">
        <h3>The Problem</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          minus corporis perspiciatis ea amet nostrum minima illum debitis rem
          animi explicabo libero, rerum quibusdam voluptatum.
        </p>
      </div>
      <mat-accordion>
        <mat-expansion-panel class="expansionComment" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Comment on topic </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Your Comment</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <button mat-raised-button color="accent" class="addToDoButton">
            Add Comment
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="ShowCommentAccordion">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Show Comments </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="comment">
              <h3>Daniel Matzer</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur consectetur animi aut iure quaerat cupiditate atque
                tempore officiis molestias. Libero obcaecati repellendus qui
                iste dolor, aspernatur nihil! Quos, a optio?
              </p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="interactButtons">
        <button mat-raised-button class="ButtonOpenIssue sortButton">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button mat-raised-button class="ButtonUrgentIssue sortButton">
          <i class="fas fa-arrow-up"></i>
        </button>
        <button mat-raised-button class="ButtonMoveToChat sortButton">
          <i class="fas fa-comment"></i>
        </button>
      </div>
    </mat-card>
  </div>
  <div class="todo">
    <mat-card>
      <div class="header">
        <h3>3</h3>
        <h3>19.04.2021</h3>
      </div>
      <div class="AssemblyUnit">
        <h3>Assembly Unit</h3>
        <h3>100-20</h3>
      </div>
      <div class="status-open"></div>
      <div class="problem">
        <h3>The Problem</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          minus corporis perspiciatis ea amet nostrum minima illum debitis rem
          animi explicabo libero, rerum quibusdam voluptatum.
        </p>
      </div>
      <mat-accordion>
        <mat-expansion-panel class="expansionComment" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Comment on topic </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Your Comment</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <button mat-raised-button color="accent" class="addToDoButton">
            Add Comment
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="ShowCommentAccordion">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Show Comments </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="comment">
              <h3>Daniel Matzer</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur consectetur animi aut iure quaerat cupiditate atque
                tempore officiis molestias. Libero obcaecati repellendus qui
                iste dolor, aspernatur nihil! Quos, a optio?
              </p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="interactButtons">
        <button mat-raised-button class="ButtonClosedIssue sortButton">
          <i class="fas fa-check"></i>
        </button>
        <button mat-raised-button class="ButtonUrgentIssue sortButton">
          <i class="fas fa-arrow-up"></i>
        </button>
        <button mat-raised-button class="ButtonMoveToChat sortButton">
          <i class="fas fa-comment"></i>
        </button>
      </div>
    </mat-card>
  </div>
  <!-- ###### -->
  <!-- ###### -->
  <!-- ###### -->
  <!-- ###### -->
</div>
