<div class="wrappper">
  <div class="mat-form-field">
    <!-- <mat-form-field appearance="fill" class="bg-warning"> -->
    <input matInput placeholder="Enter Machine Number" />
    <button mat-raised-button color="accent">Search Machine</button>
    <!-- </mat-form-field> -->
  </div>
  <a href="LogList" class="component">
    <div class="info">
      <div class="header">
        <div class="header-text">VK : 1</div>
        <div class="header-text">100</div>
      </div>
      <div class="status-wrapper">
        <div class="status">
          <div class="status-text">Closed Issues: 2</div>
          <div class="status-text">Open Issues: 16</div>
          <div class="status-text">Urgent Issues: 4</div>
        </div>
        <div class="status-color">
          <div class="color closed"></div>
          <div class="color open"></div>
          <div class="color urgent"></div>
        </div>
      </div>
    </div>
    <div class="arrow">
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </a>
</div>
