<div class="wrappper">
  <div class="mat-form-field">
    <!-- <mat-form-field appearance="fill" class="bg-warning"> -->
    <input matInput placeholder="Enter Plant Number" />
    <button mat-raised-button color="accent">Search Project</button>
    <!-- </mat-form-field> -->
  </div>
  <div class="component">
    <div class="info">
      <div class="text">China</div>
      <div class="text">RDU</div>
      <div class="text">1000120050</div>
    </div>
    <div class="buttons">
      <a href="MachineLog">
        <button mat-raised-button color="accent">
          Project <mat-icon>arrow_forward</mat-icon>
        </button>
      </a>
      <a href="MachineLog">
        <button mat-raised-button color="warn">
          Delete <mat-icon>delete</mat-icon>
        </button>
      </a>
    </div>
  </div>
</div>
