/* You can add global styles to this file, and also import other style files */
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #505050;
}

a {
  text-decoration: none;
  color: white;
}
